$rojo-oscuro: #A60303;
$gris-oscuro: #2C2C2C;
$gris-claro: #A6A6A6;
$gris-medio: #464646;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 20px;
}



@mixin misFlex($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}




@import 'header';
@import 'footer';
@import 'bodyIndex';
@import 'bodyNosotros';
@import 'bodyProductos';
@import 'bodyIngenieria';
@import 'bodyContacto';
